<div class="row">
    <h1>Habilidades</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark"  *ngIf="isLogged">Nueva Habilidad</button>
    </div>

    <div class="row">
    <!-- <div class="col-12 d-flex justify-content-between"> 
    <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let skill of skill">-->
        <ng-container *ngFor="let skill of skill">
            <div class="col-4">
            <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="90"
            [imageSrc]="''"
            [title]="(skill.nombre)"        
            [showImage]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"        
            [titleFontSize]="'25px'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeColor]="'green'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="800">
            </circle-progress>

        <div class="button-container" *ngIf="isLogged">

            <button class="btn btn-info" routerLink="/edithys/{{skill.id}}">
                <i class="bi bi-pencil-square"></i></button>
           
            <button class="btn btn-danger" (click)="delete(skill.id)">
                <i class="bi bi-trash"></i></button>
            </div> 
        </div>  
     </ng-container> 
   </div>
</div>