<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.jpg" class="imh-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="puesto">Desarrollador copado</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Esta es mi historia</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui corporis iste. Hic consequuntur harum exercitationem quia officiis dolorum distinctio dolor assumenda, adipisci, expedita sint ipsum ullam enim recusandae magnam?</p>
        </span>
    </div>
</div>